body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(250, 236, 249);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    max-width: 90%;
}

#recaptcha-container {
    margin: 20px 0;
}

#phoneNumber,
#verificationCode {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

#phoneNumber:focus,
#verificationCode:focus {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
